.nav-link {
    font-size: 22pt;
    font-weight: 700;
}


.fa-youtube {
    font-size:40px;
    padding-top: 10px;
}

.fa-twitch {
    font-size: 40px;
    padding-top: 10px;
}

.fa-discord {
    font-size: 40px;
    padding-top: 10px;
}

.jumbotron{
    background-color: #00AEEF !important;
}

.jumbotron-img{
    height: 300px;
    width: 300px;
}

.display-4{
    font-size: 40pt !important;
    padding-top: 120px;
    padding-left: 30px;
    color: white;
    font-weight: 800;

}

.header {
    color: #00AEEF;
    padding-top: 50px;
    font-size: 38pt;

}


.controller{
    padding-left: 225px;
    height: 160px
}